.features-list {
  display: flex;
  gap: 24px;
}

.features-list li {
  width: calc((100% - 72px) / 4);
}

.feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: left;

  margin-bottom: 8px;
}

.feature-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: left;
}

.feature-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 112px;
  margin-bottom: 8px;

  border: 1px solid #8e8f99;
  border-radius: 4px;

  background-color: #f4f4fd;
}
