.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.page-header .container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  margin-right: 76px;
  padding: 24px 0;
}

.page-nav {
  margin-right: auto;
}

.logo-part {
  color: #4d5ae5;
}

.page-nav ul {
  display: flex;
  gap: 40px;
}

.page-nav a {
  display: block;
  padding: 24px 0;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.page-nav a:hover,
.page-nav a:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

.contacts ul {
  display: flex;
  gap: 40px;
}

.contacts a {
  display: block;
  padding: 24px 0;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts a:hover,
.contacts a:focus {
  color: #404bbf;
}
